.button {
  border: none;
  background-color: rgba(246, 104, 94);
  padding: 0.5em 1em;
  border-radius: 0.3em;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5em;
  transition: background-color 0.3s ease-in-out;
  color: #f8f9fa;
  margin: auto;
  grid-column: 1/5;
}

.button:hover {
  background-color: rgba(219, 60, 48);
  cursor: pointer;
}
